.box4 {
    position: relative;
    height: 60vh;
    padding: 0% 15%;
    font-size: 3em;
}

.write-header {
    position: relative;
    text-align: center;
    font-size: 3em;
    top: -10%;
}

.write-message{
    position: absolute;
    height: 60%;
    width: 30%;
    display: inline-block;
    left: 20%;
    top: 15%;
}

.write-message textarea{
    position: relative;
    height: 100%;
    width: 100%;
    display: inline-block;
    background-color: rgba(92, 204, 162, 0.58);
    padding: 5%;
    line-height: 36px;
    resize: none;
    color: black;
}

.write-address {
    position: absolute;
    display: inline-block;
    width: 30%;
    top: 15%;
    left: 55%;
}

.write-address textarea{
    position: relative;
    display: inline-block;
    width: 100%;
    background-color: rgba(92, 204, 162, 0.58);
    padding: 5% 0% 0% 5%;
    /* line-height: 36px; */
    resize: none;
    color: black;
}

.write-name {
    position: absolute;
    display: inline-block;
    width: 30%;
    top: 40%;
    left: 55%;
}

.write-name textarea{
    position: relative;
    display: inline-block;
    width: 100%;
    background-color: rgba(92, 204, 162, 0.58);
    padding: 5% 0% 0% 5%;
    resize: none;
    color: black;
}

@media (max-width: 980px) {
    .box4 {

        font-size: 1.5em;

        height: 100vh;

    }

    .write-header {

        font-size: 1.5em;

        top: 0%;

        /* height: 100vh; */

    }

    .write-message{
        width: 80%;
        left: 7%;
        top: 32%;
    }

    .write-message textarea{

        padding: 5% 0% 0% 5%;

        line-height: 14px;

    }

    .write-address {

        width: 80%;

        left: 7%;

        top: 10%;

    }

    .write-address textarea{

        padding: 5% 0% 0% 5%;

        line-height: 14px;

    }

    .write-name {

        width: 80%;

        top: 21%;

        left: 7%;

    }

    .write-name textarea{

        padding: 5% 0% 0% 5%;

        line-height: 14px;
    }

}
