.top-menu {
     position: fixed;
     font-size: 1.5em;
     top: 0%;
     left: 0%;
     padding: 1.5% 10%;
     display: inline-block;
     z-index: 999;
     width: 100%;
}

.top-menu-filler {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #007C9F;
    z-index: -1;
    opacity: 0;
}

.site-logo {
        /* position: absolute; */
        /* top: -80%; */
        /* left: -35%; */
        display: inline-block;
        width: 148px;
}

.site-logo-img {
    width:100%;
    height: 100%;
}

.top-menu-button {
    display: inline-block;
    visibility: hidden;
}

.top-menu-option-group {
    display: inline-block;
}

.top-menu-option     {
    position: relative;
    width: 170px;
    margin: 0% 50px;
    text-align: center;
    transition: all 0.3s;
    display: inline-block;
    color: white;
    font-size: 1.8em;
    font-weight: 100;
}

a {
    text-decoration: none;
}

a:link, a:visited {
    color: white;
}

.top-menu-option:after {
    content: "";
    position:absolute;
    bottom: -10px;
    left: -5px;
    height: 3px;
    width: 0%;
    background-color:white;
    transition: all 0.3s;
}

.top-menu-option:hover:after {
    position:absolute;
    bottom: -10px;
    left: -5px;
    width:100%;
    background-color:white;
}

@media (max-width: 980px) {

    .top-menu {

        position: absolute;
        font-weight: 100;
        font-size: 2em;
        top: 0%;
        left: 0%;
        padding: 0% 10%;
        display: inline-block;
        z-index: 999;
        width: 70%;

    }

    .top-menu-fixed {
        position: fixed;
        font-size: 1.5em;
        top: -10%;
        left: 0%;
        padding: 0% 10%;
        display: inline-block;
        z-index: 999;
        width: 100%;
        background-color: #007C9F;
    }

    .top-menu-fixed-appear {
        top: 0%;
        transition: all 0.3s;
    }

    .site-logo {
        position: absolute;
        top: 0%;
        left: 30%;
        display: inline-block;
        width: 25%;
        /* text-align: center; */
        padding: 14% 0%;
        z-index: 5;
        width: 50%;
    }

    .site-logo-img {
        width:100%;
        height: 100%;
    }

    .top-menu-button {
        display: inline-block;
        visibility: visible;
        position: absolute;
        /* top: 5%; */
        padding: 7% 0%;
        right: 35%;
        z-index: 1;
        visibility: hidden;
    }

    .top-menu-option-group {
        position: fixed;
        top: 0%;
        left: 0%;
        padding: 0% 0% 0% 0%;
        width: 100%;
        height: 100%;
        visibility: hidden;
        background-color: #007C9F;
        z-index: 9;
        display: block;
        transition: all 1s;
        visibility: hidden;
    }

    .top-menu-option {
        position: relative;
        width: 200px;
        margin: 4% 50px;
        text-align: center;
        transition: all 0.3s;
        display: block;
        color: white;
    }

    .top-menu-option:after {
        content: "";
        position: absolute;
        bottom: -10px;
        left: -25%;
        height: 1px;
        width: 150%;
        background-color: white;
        transition: all 0.3s;
    }

    .top-menu-option-group.shown {
        visibility: visible;
        top: 0%;
    }

    .top-menu-option:hover:after {
        position:initial;
        bottom: initial;
        left: initial;
        width:initial;
        background-color:initial;
    }


}
