@charset "UTF-8";

@font-face {
  font-family: "sdalabs";
  src:url("fonts/sdalabs.eot");
  src:url("fonts/sdalabs.eot?#iefix") format("embedded-opentype"),
    url("fonts/sdalabs.woff") format("woff"),
    url("fonts/sdalabs.ttf") format("truetype"),
    url("fonts/sdalabs.svg#sdalabs") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "sdalabs" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-sdalabs-"]:before,
[class*=" icon-sdalabs-"]:before {
  font-family: "sdalabs" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-sdalabs-left:before {
  content: "\7a";
}
.icon-sdalabs-right:before {
  content: "\4c";
}
.icon-sdalabs-left-bold:before {
  content: "\4d";
}
.icon-sdalabs-right-bold:before {
  content: "\4e";
}
.icon-sdalabs-left-open-big:before {
  content: "\61";
}
.icon-sdalabs-right-open-big:before {
  content: "\62";
}
.icon-sdalabs-pointer:before {
  content: "\64";
}
.icon-sdalabs-mail:before {
  content: "\63";
}
.icon-sdalabs-twitter:before {
  content: "\65";
}
.icon-sdalabs-vk:before {
  content: "\66";
}
